
@media (max-width: 720px) {
  .blockTopic{
    display: flex;
    flex-direction: column;
  }
  .topic{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  .blocks{
    border: 1px solid aquamarine;
    padding: 20px;
  }
}

.mainBlock{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  color: #cccccc;
}

.title{
 text-align: center;
}

.welcome{
  animation: spin 2s linear infinite ;
  width: 40px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topic{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.blockTopic{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;

}

@keyframes spin {

from {
  transform: rotate(0deg)
}

50% {
  transform: rotate(75deg)
}
to{
  transform: rotate(0deg)
}

}