.main{
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  .block{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding-top: 20px;
  }

  .line{
    margin: 70px auto 0 ;
    width: 80%;
    border: 1px solid white;

  }
}